
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bak

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

 
*.pydevproject
.project
.metadata/*
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.history/*
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/

.plugins/*


